@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;900&display=swap');
@import url(./dompkong.css);

* {
    margin: 0;
    padding: 0;
    text-decoration: none !important;
    list-style: none !important;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body,
html {
    overflow-x: hidden;
    height: 100%;
    background-color: var(--clr-black);
}

@font-face {
    font-family: 'Azo Sans Uber';
    src: url(/assets/fonts/Azo\ Sans\ Uber\ W01\ Regular.otf);
}

:root {
    /* FONT-SIZE */
    --fs-small: 16px;
    --fs-xl: 18px;
    --fs-lg: 20px;
    --fs-2xl: 22px;
    --fs-3xl: 24px;
    --fs-6xl: 34px;
    /* COLORS */
    --clr-white: #fff;
    --clr-black: #000000;
    /* yellow */
    --clr-primary: #f1c85d;
    --clr-btn-primary: #fdda60;
    --btn-shadow: 0px 4px 24px rgba(253, 218, 96, 0.8);
    /* FONT-WEIGHT */
    --fw-regular: 400;
    --fw-semibold: 600;
    --fw-bold: 700;
    --fw-extrabold: 900;
}

.ff_montserrat {
    font-family: 'Montserrat', sans-serif;
}

.ff_azo {
    font-family: 'Azo Sans Uber';
}

/* FONT-SIZE */
.fs_small {
    font-size: var(--fs-small);
}

.fs_lg {
    font-size: var(--fs-lg);
}

.fs_xl {
    font-size: var(--fs-xl);
}

.fs_2xl {
    font-size: var(--fs-2xl);
}

.fs_3xl {
    font-size: var(--fs-3xl);
}

.fs_6xl {
    font-size: var(--fs-6xl);
}

/* COLORS */
.text_white {
    color: var(--clr-white);
}

.text_black {
    color: var(--clr-black);
}

.text_primary {
    color: var(--clr-primary);
}

/* font-weight */
.fw_regular {
    font-weight: var(--fw-regular);
}

.fw_semibold {
    font-weight: var(--fw-semibold);
}

.fw_bold {
    font-weight: var(--fw-bold);
}

.fw_extrabold {
    font-weight: var(--fw-extrabold);
}

/* BACKGROUND-COLORS */
.bg_black {
    background-color: var(--clr-black);
}

.bg_white {
    background-color: var(--clr-white);
}

.bg_btnprimary {
    background-color: var(--clr-btn-primary);
}

/* OTHER-CSS */
nav {
    background-image: url(/assets/img/png/nav-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    background-image: url(/assets/img/png/header-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.index_10 {
    z-index: 10;
}

.br_primary {
    border-color: var(--clr-btn-primary) !important;
}

.border_1 {
    border: 1px solid var(--clr-btn-primary);
    border-radius: 4px;
}

.btn_shadow {
    box-shadow: var(--btn-shadow);
}

.m_end {
    right: 11%;
}

.m3_end {
    right: 32%;
}

.w_40 {
    width: 42%;
}

.index_3 {
    z-index: 3;
}

.index_2 {
    z-index: 2;
}

.h_1080 {
    height: 1080px;
}

.b_line::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 5px;
    background-color: var(--clr-primary);
    left: 0;
    bottom: 0;
    border-radius: 10px;
}

.line_shadow {
    box-shadow: 1px 2px 12px 1px rgba(253, 218, 96, 0.8);
    height: 1px;
}

.img_shadow {
    box-shadow: 2px 1px 11px 6px rgba(253, 218, 96, 0.8);
}

.br_30 {
    border-radius: 30px;
}

.index-1 {
    z-index: -1;
}

input {
    outline: none;
}

/* HOVER */
.box_card {
    transition: all linear 300ms;
}

.footer_img {
    animation: shake infinite 9s;
}

@keyframes shake {
    0% {
        -webkit-transform: translate(2px, 1px) rotate(0deg);
    }

    10% {
        -webkit-transform: translate(-1px, -2px) rotate(-2deg);
    }

    20% {
        -webkit-transform: translate(-3px, 0px) rotate(3deg);
    }

    30% {
        -webkit-transform: translate(0px, 2px) rotate(0deg);
    }

    40% {
        -webkit-transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        -webkit-transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        -webkit-transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        -webkit-transform: translate(2px, 1px) rotate(-2deg);
    }

    80% {
        -webkit-transform: translate(-1px, -1px) rotate(4deg);
    }

    90% {
        -webkit-transform: translate(2px, 2px) rotate(0deg);
    }

    100% {
        -webkit-transform: translate(1px, -2px) rotate(-1deg);
    }
}

.box_card:hover {
    background-color: var(--clr-primary);
    box-shadow: 0px 14px 56px rgba(253, 218, 96, 0.5);
    transform: scale(0.95) rotate(4deg);
}

.box_card:hover img {
    opacity: 0;
}

.box_card:hover p {
    color: var(--clr-black);
}

.box_card:hover .fill path {
    fill: var(--clr-black);
}

svg path {
    transition: all linear 300ms;
}

.box_card:hover svg path {
    stroke: var(--clr-black);
}

p,
h4 {
    transition: all linear 300ms;
}

.box_card:hover h4 {
    color: var(--clr-black);
}

.btn_hover {
    transition: all linear 300ms;
}

img {
    transition: all linear 300ms;
}

.img_shadow:hover img {
    transform: scale(1.2);
}

.btn_hover:hover {
    background-color: var(--clr-black);
    color: var(--clr-btn-primary);
    border: 1px solid var(--clr-btn-primary);
}

.scale_hover {
    transition: all linear 300ms !important;
}

.scale_hover:hover {
    transform: scale(1.4) !important;
}

.p_2 {
    padding: 2px;
}

.h_700px {
    height: 700px;
}

.w_33 {
    width: 33%;
}

.w_27 {
    width: 27%;
}

.start_10 {
    left: -10%;
}

.start_25 {
    left: 25%;
}

.acc_bg {
    top: 17%;
    left: 32%;
}

.slider_bg {
    top: -50%;
    left: -50%;
}

footer {
    background-image: url(/assets/img/png/footer-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#FAQ {
    background-image: url(/assets/img/png/accordian-back.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(50px);
}

.r_line {
    top: 4%;
    left: -13%;
    width: 93%;
}

.r_circle {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 27px;
    padding-bottom: 27px;
    transition: all linear 200ms;
}

.k_shadow {
    box-shadow: 1px 1px 8px 2px rgb(253 218 96 / 80%);
}

.p_f_100 {
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 27px;
    padding-bottom: 27px;
    transition: all linear 200ms;
}

.scroll::-webkit-scrollbar {
    height: 3px;
}

.scroll::-webkit-scrollbar-thumb {
    height: 3px;
    background-color: var(--clr-primary);
    border-radius: 10px;
}

div:hover>.r_circle {
    background-color: var(--clr-btn-primary);
    box-shadow: var(--btn-shadow);
}

.w_75 {
    width: 75%;
}

.translate_y {
    transform: translateY(29%);
}

/* ACCORDIAN */
.accordion-button:not(.collapsed)::after {
    background-image: url(/assets/img/png/minus.png);
}

.accordion-button::after {
    background-image: url(/assets/img/png/plus.png);
}

.accordion-item {
    position: relative;
}

.accordion-item:after {
    position: absolute;
    content: "";
    height: 1px;
    bottom: 0;
    left: 0;
    width: 100%;
    border-radius: 10px;
    background-color: var(--clr-primary);
    box-shadow: 1px 1px 9px 1px rgba(253, 218, 96, 0.8);
}

.w_85 {
    width: 85%;
}

/* SLIDER */

#slideshow {
    margin: 4% auto;
    width: 210px;
    height: 400px;
    position: relative;
    perspective: 1000px;
    transform: rotate3d(1, 1, 1, 20deg);
}

#carousel {
    width: 100%;
    animation: rotation 20s infinite linear;
    position: absolute;
    top: 25%;
    transform-style: preserve-3d;
    padding-left: 50px;
}

#carousel:hover {
    animation-play-state: paused;
}

#carousel figure {
    display: block;
    position: absolute;
    left: 10px;
    top: 10px;
    background: transparent !important;
}

#carousel figure:nth-child(1) {
    transform: rotateY(0deg) translateZ(288px);
}

#carousel figure:nth-child(2) {
    transform: rotateY(40deg) translateZ(288px);
}

#carousel figure:nth-child(3) {
    transform: rotateY(80deg) translateZ(288px);
}

#carousel figure:nth-child(4) {
    transform: rotateY(120deg) translateZ(288px);
}

#carousel figure:nth-child(5) {
    transform: rotateY(160deg) translateZ(288px);
}

#carousel figure:nth-child(6) {
    transform: rotateY(200deg) translateZ(288px);
}

#carousel figure:nth-child(7) {
    transform: rotateY(240deg) translateZ(288px);
}

#carousel figure:nth-child(8) {
    transform: rotateY(280deg) translateZ(288px);
}

#carousel figure:nth-child(9) {
    transform: rotateY(320deg) translateZ(288px);
}

@keyframes rotation {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(360deg);
    }
}

/* ANIMATION */
.monkey {
    animation: monkey 6s 1s ease-in-out infinite;
}

@keyframes monkey {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(-20px);
    }

    100% {
        transform: translatey(0px);
    }
}

.btn_hover {
    overflow: hidden;
    position: relative;
    z-index: 6;
}

.btn_hover::after {
    position: absolute;
    content: "";
    width: 8px;
    height: 150%;
    top: -10%;
    filter: blur(7px);
    left: 0;
    z-index: -1;
    transform: rotate(20deg);
    background-color: var(--clr-white);
    animation: btnmove 2s infinite linear;
}

@keyframes btnmove {
    0% {
        transform: translateX(-20px) rotate(20deg);
    }

    100% {
        transform: translateX(500px)rotate(20deg);
    }
}

@media (min-width:576px) {
    :root {
        /* FONT-SIZE */
        --fs-small: 16px;
        --fs-lg: 18px;
        --fs-xl: 20px;
        --fs-2xl: 22px;
        --fs-3xl: 28px;
        --fs-6xl: 48px;
    }

    .w_sm_50 {
        width: 50% !important;
    }
}

@media (min-width:768px) {
    :root {
        /* FONT-SIZE */
        --fs-small: 16px;
        --fs-lg: 22px;
        --fs-xl: 20px;
        --fs-2xl: 24px;
        --fs-3xl: 32px;
        --fs-6xl: 52px;
    }

    .h_md_800 {
        height: 800px;
    }

    .translate_x {
        transform: translateX(95%);
    }
}

@media (min-width:992px) {
    :root {
        /* FONT-SIZE */
        --fs-small: 16px;
        --fs-lg: 22px;
        --fs-xl: 20px;
        --fs-2xl: 24px;
        --fs-3xl: 36px;
        --fs-6xl: 64px;
    }

    .translate_x100 {
        transform: translateX(100%);
    }

    .translate_x50 {
        transform: translateX(50%);
    }

    .translate_x-100 {
        transform: translateX(-100%);
    }

    .translate_x-50 {
        transform: translateX(-50%);
    }

    .translate_x15 {
        transform: translateX(15%);
    }

    .translate_x-15 {
        transform: translateX(-15%);
    }

    .slider_bg {
        top: 0;
        left: -10%;
    }

    .h_lg_935 {
        height: 950px;
    }

    .mw_xl_550 {
        max-width: 550px;
    }

    #slideshow {
        margin: 4% auto;
        width: 210px;
        height: 500px;
        position: relative;
        perspective: 1000px;
        transform: rotate3d(1, 1, 1, 20deg);
    }

    #carousel {
        width: 100%;
        animation: rotation 20s infinite linear;
        position: absolute;
        top: 40%;
        transform-style: preserve-3d;
        padding-left: 50px;
    }
}

@media (min-width:1200px) {
    .translate_x_17 {
        transform: translateX(-30%);
    }

    .translate_x_7 {
        transform: translateX(-20%);
    }

    .translate_x_10 {
        transform: translateX(-10%);
    }

    .translate_line1 {
        transform: translate(-56%, 43px);
    }

    .translate_line2 {
        transform: translate(-4%, 25px);
    }

    .translate_line3 {
        transform: translate(32%, 0);
    }

    .translate_line4 {
        transform: translate(0, -22px);
    }

    .translate_line5 {
        transform: translate(-57%, -48px);
    }

}

@media (min-width:1400px) {
    .min_vh_xxl_100 {
        min-height: 100vh;
    }

    .w_75 {
        width: 58%;
    }

    .pe_xxl_4 {
        padding-right: 34px !important;
    }

    .w_xxl_100 {
        width: 100% !important;
    }

    .r_line {
        top: 0;
        left: -6%;
        width: 78%;
    }

    .translate_line1 {
        transform: translate(-35%, 25px);
    }

    .translate_line2 {
        transform: translate(33%, 14px);
    }

    .translate_line3 {
        transform: translate(61%, 0);
    }

    .translate_line4 {
        transform: translate(33%, -20px);
    }

    .translate_line5 {
        transform: translate(-30%, -36px);
    }
}